* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
    ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10%;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: padding 0.5s;
}

.one {
    position: relative;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.one::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.one:hover:after {
    transform: scaleX(1);
}

/* BUTTONS */

.login {
    width: 100px;
    height: 100px;
    padding: 12px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: .5s;
}

.login:hover {
    background: snow;
    color: #162938;
}

.signup {
    width: 100px;
    height: 100px;
    padding: 12px;
    background: transparent;
    border: 2px solid snow;
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: snow;
    font-weight: 500;
    transition: .5s;
}

.signup:hover {
    background: snow;
    color: #162938;
}

.navigation a.signupbutton {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid snow;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: snow;
    font-weight: 500;
    transition: .5s;
}

/* DROPDOWN CUSTOMER ACCOUNT */

.dropbtn {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: transparent;
    border: 2px solid snow;
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: snow;
    font-weight: 500;
    transition: .5s;
    white-space: nowrap;   
    min-width: 180px;  
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: snow;
    color: #162938;
}