.history-page{
    margin-bottom: 10%;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

.history-page .history-page-title{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.history-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2%;
    background-color: rgb(73, 69, 69);
    color: snow;
}

.order-details{
    flex: 1;
    margin-left: 20px;
}

.order-details-content{
    margin-top: 20px;
}

.order-details  .h1{
    font-size: xx-large;
}

.order-summary{
    text-align: left;
    margin-right: 20px;
    width: 250px;
    margin-top: 11px;
}

.order-summary-content{
    margin-top: 20px;
}

p{
    font-size: large;
}

.align-right {
    float: right; 
}

