/* General styles */
body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styling for column layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

/* Slider styles */
.slider {
    position: relative;
    max-width: 80%;
    margin: 20px 0;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.slidernavigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slidernavigation button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

/* Section styles */
.card-section {
    margin: 20px 0;
    width: 100%;
}

.card-section h2 {
    text-align: center;
    margin: 20px 0;
    font-size: xx-large;
}

/* Card styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 250px;
    filter: drop-shadow(15px 15px 8px #1a1b1c);
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: auto;
}

.card .content {
    padding: 20px;
    flex: 1;
}

.card h2 {
    margin: 0 0 10px;
}

.card p {
    margin: 0;
}

.shortinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.text-box {
    flex: 2;
}

.more-info-button {
    flex: 1;
    display: flex;
    justify-content: center;
}

.more-info-button button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.more-info-button button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
